.snav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(216, 214, 214);
    text-decoration: none;
     /* position: fixed;
    top: 0; 
    width:100%; */
}

.snav a:hover {
    border-bottom: 2px solid rgb(13, 13, 46);
    color: rgb(13, 13, 46);
    cursor: pointer;
}

.snav img {
    width: 100px;
    height: 40px;
}

iframe{
    margin-top: 50px;
    height: 350px;
    width:500px;
    border: 20px;
    border-color: black;
}
.locate{
   display: flex; 
}



.text h1{
    margin-top: 90px;
    font-size: 50px;
    margin-left: 50px;
    line-height: 70px;
    letter-spacing: 5px;
}
.text pre{
    font-family: var(--font-lksans-hairline);
   margin-top: 60px;
   letter-spacing: 5px;
   line-height: 50px;
   font-size: 20px;
   text-align:justify;
   margin-left: 50px;
}

.footerP {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(4, 4, 71);
    color: white;
    padding: 35px;

}

.footerP .list ul {
    list-style: none;
}